<div class="inu-doc-item">
    <div class="header">
        <a [href]="data()?.href" [id]="data()?.id" class="anchor">
            @if(data()?.level==2){
                <h2>{{title()}}</h2>
            }
            @else if (data()?.level==3) {
                <h3>{{data()?.title}}</h3>
            }
            @else if (data()?.level==4) {
                <h4>{{data()?.title}}</h4>
            }
            @else if (data()?.level==5) {
                <h5>{{data()?.title}}</h5>
            }
            @else {
                <h6>{{data()?.title}}</h6>
            }
        </a>
    </div>
    <div class="content">
        <ng-content></ng-content>
    </div>
</div>
