/**/
.inugami-intro{
header{
    p{
        padding-right: 2rem;
        padding-left: 2rem;
    }
}
article{
    padding-left: 2rem;
    margin-bottom: 2rem;
    dl{
        padding-left: 2rem;
    }
    p{
        padding-left: 4rem;
    }
   
}
}