<menu>
    <ul>
        <li>
            <a target="_blank" href="https://github.com/inugamiio/inugami/tree/master">GitHub</a>
        </li>

        <li>
            <a routerLink="/inugami/framework/getting-started"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: false }">Getting started
            </a>
            <ul>
                <li>
                    <a  [routerLink]="['/inugami/framework/getting-started']" fragment="archetype">Archetype</a>
                    <ul>
                        <li>
                            <a  [routerLink]="['/inugami/framework/getting-started']" fragment="archetype-architecture">Archetype architecture</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a  [routerLink]="['/inugami/framework/getting-started']" fragment="first-run">First run</a>
                </li>
                <li>
                    <a  [routerLink]="['/inugami/framework/getting-started']" fragment="modules-details">Modules details</a>
                    <ul>
                        <li>
                            <a  [routerLink]="['/inugami/framework/getting-started']" fragment="module-api">Module-api</a>
                            <ul>
                                <li><a  [routerLink]="['/inugami/framework/getting-started']" fragment="demo-api-userDto">UserDTO</a></li>
                                <li><a  [routerLink]="['/inugami/framework/getting-started']" fragment="demo-api-userDTOSearchRequestDTO">UserDTOSearchRequestDTO</a></li>
                                <li><a  [routerLink]="['/inugami/framework/getting-started']" fragment="demo-api-userFilters">UserFilters</a></li>
                                <li><a  [routerLink]="['/inugami/framework/getting-started']" fragment="demo-api-service">Services interfaces</a></li>
                                <li><a  [routerLink]="['/inugami/framework/getting-started']" fragment="demo-api-userErrors">UserErrors</a></li>
                            </ul>
                        </li>
                        <li>
                            <a  [routerLink]="['/inugami/framework/getting-started']" fragment="module-core">Module-core</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a routerLink="/inugami/framework/exception"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: false }">Exception management
            </a>
        </li>
    </ul>
</menu>
