.inu-announcement{
    margin-left: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-left: 0.2rem solid transparent;
    transition: border-left 250ms;

    &:hover{
        border-left: 0.2rem solid var(--neutral-dark);
    }

    header{
        a{
            text-decoration: none;
            cursor: pointer;
        }
        h2{
            display: flex;
            text-decoration: none;
            gap: 1rem;
            padding: 0;
        }
        h3{
            text-decoration: none;
            padding: 0;
        }
    }
}