/**/
.inu-copy-button{
    display: flex;
    padding: 0.15rem;
    align-content: center;
    justify-content: center;
    background-color: var(--neutral-light-extra);
    border: 1px solid var(--neutral);
    border-radius: 0.1rem;

    &:hover{
        background-color: var(--neutral-light);
        border-color: var(--info);
        -webkit-box-shadow: 0px 0px 5px 0px var(--info); 
        box-shadow: 0px 0px 5px 0px var(--info);
    }
}

    